.service-map {
    position: relative;

    max-width: 120rem;
    max-height: 65rem;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.2);
}

.service-map__markers {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// Marker shown on map
.service-map__marker {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 30rem;

    margin-left: 3rem;
    margin-right: 3rem;


}

// Tooltip opened from mark
.service-map__tooltip {
    display: flex;
    flex-direction: row;

    visibility: hidden;
    opacity: 0;
    position: relative;

    width: 100%;
    margin-bottom: 2rem;

    padding: 3rem 1rem;

    text-align: left;

    background-color: #fff;
    border-radius: 0.8rem;
    
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    transform: translateY(2rem);

    h3 {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 2.0rem;
    }

    // Open state
    &.is-open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        transition: 0.1s all ease-out;
    }

    .text--label {
        margin-bottom: 0.2rem;
    }

    &__icon {
        display: flex;
        justify-content: center;

        position: relative;

        height: 8rem;
        min-width: 10rem;

        margin-right: 0.8rem;

        overflow: hidden;

        svg {
            height: 9rem;
            width: auto;
            z-index: 1;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Status related tooltip styles
.service-map__marker.state--ok {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(green, 0.1);
        z-index: 0;
    }
}
     
.service-map__marker.state--alarm {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(yellow, 0.1);
        z-index: 0;
    }
    svg {
        height: 8rem;
        margin-top: 0.5rem;
    }
}

.service-map__marker.state--failure {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(red, 0.1);
        z-index: 0;
    }
    svg {
        height: 11rem;
    }
}

// Markers on map
.service-map__state {
    display: block;
    height: 2.0rem;
    width: 2.0rem;

    outline: 0.2rem solid;
    border: 0.5rem solid #fff;

    border-radius: 50%;
    transition: 0.1s all ease-out;

    &:hover {
        outline: 0.8rem solid;
        transition: 0.2s all ease-out;

        cursor: pointer;
    }

    &.service-map__state--ok {
        background: green;
        outline-color: rgba(green, 0.2);

        &:hover {
            border-color: rgba(green, 0.2);
        }
    }

    &.service-map__state--alarm {
        background: yellow;
        outline-color: rgba(yellow, 0.2);

        &:hover {
            border-color: rgba(yellow, 0.2);
        }
    }

    &.service-map__state--failure {
        background: red;
        outline-color: rgba(red, 0.2);

        &:hover {
            border-color: rgba(red, 0.2);
        }
    }
}

// Global open tooltip styles 
.service-map__tooltip.is-open {
    + .service-map__state {
        outline-width: 0.8rem;
        transition: 0.2s all ease-out;

        &.service-map__state--ok {
            border-color: rgba(green, 0.2);
        }
    
        &.service-map__state--alarm {
            border-color: rgba(yellow, 0.2);
        }
    
        &.service-map__state--failure {
            border-color: rgba(red, 0.2);
        }
    }
}

.service-map__background {
    svg {
        background-color: #edf3f4;
    }
}

// Close button in tooltip
.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;

    -webkit-appearance: none;
    border: 0;
    background: transparent;
    font-size: 2.2rem;

    cursor: pointer;
}