.service-map {
    position: relative;

    max-width: 120rem;
    max-height: 65rem;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.2);
}

.service-map__markers {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// Marker shown on map
.service-map__marker {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 30rem;

    margin-left: 3rem;
    margin-right: 3rem;


}

// Tooltip opened from mark
.service-map__tooltip {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 2rem;

    padding: 3rem 1rem;

    text-align: left;

    background-color: #fff;
    border-radius: 0.8rem;
    
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);

    h3 {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 2.0rem;
    }

    .text--label {
        margin-bottom: 0.2rem;
    }

    &__icon {
        display: flex;
        justify-content: center;

        height: 8rem;
        min-width: 10rem;

        margin-right: 0.8rem;

        overflow: hidden;

        img {
            height: 9rem;
            width: auto;

            // Custom sizing since the icons are not the same size
            &.state--alarm {
                height: 7rem;
            }
    
            &.state--failure {
                height: 10rem;
            }
        }


    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.service-map__state {
    display: block;
    height: 2rem;
    width: 2rem;

    outline: 0.2rem solid;
    border: 0.3rem solid #fff;

    border-radius: 50%;
    transition: 0.1s all ease-out;

    &:hover {
        outline: 8px solid;
        transition: 0.2s all ease-out;
    }

    &.service-map__state--ok {
        background: green;
        outline-color: rgba(green, 0.2);

        &:hover {
            border-color: rgba(green, 0.2);
        }
    }

    &.service-map__state--alarm {
        background: yellow;
        outline-color: rgba(yellow, 0.2);

        &:hover {
            border-color: rgba(yellow, 0.2);
        }
    }

    &.service-map__state--failure {
        background: red;
        outline-color: rgba(red, 0.2);

        &:hover {
            border-color: rgba(red, 0.2);
        }
    }
}

.service-map__background {
    svg {
        background-color: #edf3f4;
    }
}