@import '../variables';

.service-map {
    position: relative;

    max-width: 120rem;
    max-height: 65rem;

    margin-left: auto;
    margin-right: auto;

    border-radius: 3rem;   

    box-shadow: 1rem 2rem 3rem rgba($grey-blue, 0.3);


    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-45deg, #FFCFDF 0%, #B0F3F1 100% );
        transform: translate3d(0px, 20px, 0) scale(0.95);
        filter: blur(20px);
        opacity: var(0.7);
        transition: opacity 0.3s;
        border-radius: inherit;
    }

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: inherit;
    }
        
}

.service-map__background {
    max-width: 120rem;
    max-height: 65rem;

    margin-left: auto;
    margin-right: auto;

    border-radius: 3rem;
    border: 1rem solid #fff;

    overflow: hidden;

    svg {
        display: flex;
        height: 100%;
        background-color: #edf3f4;
    }
}

.service-map__markers {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// Marker shown on map
.service-map__marker {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 32rem;

    margin-left: 3rem;
    margin-right: 3rem;

    pointer-events: none;


    // Open state
    &.is-open {
        .service-map__tooltip {
            visibility: visible;
            opacity: 1;

            pointer-events: initial;
            height: auto;
    
            transition: 0.1s all ease-out;

            @media (min-width: 768px) {
                transform: translateY(-105%);
            }

            @media (max-width: 768px) {
                top: 110%;
                left: 0;
                max-width: calc(100% - 2rem);
                transform: none;
            }
        }
        .service-map__state {
            outline-width: $outline-offset;
            transition: 0.1s all ease-out;
            outline-offset: 0;

            &:hover {
                box-shadow: none;
            }
        }
    }

}

// Tooltip opened from mark
.service-map__tooltip {
    display: flex;
    flex-direction: row;

    position: absolute;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    width: 100%;
    height: 0;

    margin-bottom: 2rem;
    padding: 3rem 1rem;

    text-align: left;

    background-color: #fff;
    border-radius: 0.8rem;
    
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    transform: translateY(-90%);

    z-index: 2;

    p {
        margin-top: 0;
        margin-bottom: 2.0rem;
    }

    .text--label {
        margin-bottom: 0.2rem;
    }

    &__icon {
        display: flex;
        justify-content: center;

        position: relative;

        height: 8rem;
        min-width: 10rem;

        margin-right: 0.8rem;

        overflow: hidden;

        svg {
            height: 9rem;
            width: auto;
            z-index: 1;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Status related tooltip styles
.service-map__marker.state--ok {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba($color-green, 0.1);
        z-index: 0;
    }
}
     
.service-map__marker.state--alarm {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba($color-yellow, 0.1);
        z-index: 0;
    }
    svg {
        height: 8rem;
        margin-top: 0.5rem;
    }
}

.service-map__marker.state--failure {
    .service-map__tooltip__icon:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba($color-red, 0.1);
        z-index: 0;
    }
    svg {
        height: 11rem;
    }
}

// Markers on map
.service-map__state {
    position: absolute;
    bottom: -3rem; 

    display: block;
    height: 2.0rem;
    width: 2.0rem;

    outline: 0.4rem solid;
    outline-offset: $outline-offset;
    border: 0;

    border-radius: 50%;
    transition: 0.15s all ease-out;

    pointer-events: initial;


    &:hover {

        transition: 0.15s all ease-out;

        cursor: pointer;
    }

    &.service-map__state--ok {
        background: $color-green;
        outline-color: rgba($color-green, 0.2);

        box-shadow: 0 0 2rem rgba($color-green, 0.5);

        &:hover {
            border-color: rgba($color-green, 0.2);
            box-shadow: 0 0 0 $outline-offset rgba($color-green, 0.2);
        }
    }

    &.service-map__state--alarm {
        background: $color-yellow;
        outline-color: rgba($color-yellow, 0.2);
        box-shadow: 0 0 2rem rgba($color-yellow, 0.5);

        &:hover {
            border-color: rgba($color-yellow, 0.2);
            box-shadow: 0 0 0 $outline-offset rgba($color-yellow, 0.2);
        }
    }

    &.service-map__state--failure {
        background: $color-red;
        outline-color: rgba($color-red, 0.2);
        box-shadow: 0 0 2rem rgba($color-red, 0.5);

        &:hover {
            border-color: rgba($color-red, 0.2);
            box-shadow: 0 0 0 $outline-offset rgba($color-red, 0.2);
        }
    }
}

// Marker placements on map
.service-map__marker {

    @media (min-width: 768px) {
        position: absolute;
        transform: translateX(-50%);
    }

    &.eu-west-1 {
        // Position whole tooltip + marker content on map in larger screen
        @media (min-width: 768px) {
            left: 45%;
            top: 31.5%;
        }
        // Give both their own position in mobile
        @media (max-width: 767px) {
            .service-map__state {
                left: 45%;
                top: 31.5%;
            }
        }
    }

    &.ap-northeast-1 {

        @media (min-width: 768px) {
            left: 90%;
            top: 45%;
        }

        @media (max-width: 767px) {
            .service-map__state {
                left: 86%;
                top: 45%;
            }
        }

    }

    &.us-east-1 {

        @media (min-width: 768px) {
            left: 24%;
            top: 44%;
        }

        @media (max-width: 767px) {
            .service-map__state {
                left: 24%;
                top: 44%;
            }
        }

    }

    &.ap-northeast-1:last-child {

        @media (min-width: 768px) {
            left: 93%;
            top: 45%;
        }

        @media (max-width: 767px) {
            .service-map__state {
                left: 93%;
                top: 45%;
            }
        }

    }
}

// Close button in tooltip
.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;

    -webkit-appearance: none;
    border: 0;
    background: transparent;
    font-size: 2.2rem;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}